Repository jason-johnson/azure-pipelines-tasks-terraform: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

Path conditions:
  pipelines/main.yml: any file but: _test-agent, .vscode, .devcontainer
  pipelines/pipeline-beta.yml: any file but: **/*.md, **/*.(jpg|jpeg|png), **/*.tf, **/*.env, **/*.vars, _test-agent, .vscode, screenshots, templates, LICENSE
  pipelines/pipeline-rc.yml: any file but: **/*.md, **/*.(jpg|jpeg|png), **/*.tf, **/*.env, **/*.vars, _test-agent, .vscode, screenshots, templates, LICENSE

Note the example versions mapping
  overview.md
Due: pipelines/main.yml

Update the overview.md which is shown in the VS Marketplace so the latest version is used which support WIF (#434)
  overview.md
Due: pipelines/main.yml

Update images using the current parameters
  overview.md
  screenshots/overview-tfcli-azure-sub.jpg
  screenshots/overview-tfcli-azure-sub.png
  screenshots/overview-tfcli-backend-azurerm.jpg
  screenshots/overview-tfcli-backend-azurerm.png
  screenshots/overview-tfcli-ensure-backend.jpg
  screenshots/overview-tfcli-ensure-backend.png
  screenshots/overview-tfinstall-task-fields.jpg
  screenshots/overview-tfinstall-task-fields.png
  vss-extension.json
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

Update documentation to use version @1 which works with Azure WIF (#435)
  overview.md
  screenshots/overview-tfcli-azure-sub.jpg
  screenshots/overview-tfcli-azure-sub.png
  screenshots/overview-tfcli-backend-azurerm.jpg
  screenshots/overview-tfcli-backend-azurerm.png
  screenshots/overview-tfcli-ensure-backend.jpg
  screenshots/overview-tfcli-ensure-backend.png
  screenshots/overview-tfinstall-task-fields.jpg
  screenshots/overview-tfinstall-task-fields.png
  vss-extension.json
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

Adjust runAzLogin examples and some minor improvements
  overview.md
Due: pipelines/main.yml

Adjust runAzLogin examples and some minor improvements (#445)
  overview.md
Due: pipelines/main.yml

Update node to 20_1, move over to mac-friendly sass and set-version script
  package-lock.json
  package.json
  scripts/set-version.ps1
  scripts/set-version.sh
  tasks/terraform-cli/task.json
  tasks/terraform-installer/task.json
  views/terraform-plan/package-lock.json
  views/terraform-plan/package.json
  views/terraform-plan/src/plan-summary-tab/plan-summary-tab.scss
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

Update node to 20_1, move over to mac-friendly sass and set-version script (#449)
  package-lock.json
  package.json
  scripts/set-version.ps1
  scripts/set-version.sh
  tasks/terraform-cli/task.json
  tasks/terraform-installer/task.json
  views/terraform-plan/package-lock.json
  views/terraform-plan/package.json
  views/terraform-plan/src/plan-summary-tab/plan-summary-tab.scss
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

Undo break from most recent PR
  tasks/terraform-cli/task.json
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

Fix break from most recent PR
  tasks/terraform-installer/task.json
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

Fix last pr (#450)
  tasks/terraform-cli/task.json
  tasks/terraform-installer/task.json
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

Add GitHub Actions extension to devcontainer configuration
  .devcontainer/devcontainer.json
Due: pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

initial attempt at moving testing to git
  .github/workflows/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

Refactor indentation in GitHub Actions workflow for formatting
  .github/workflows/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

tests should always run except on main (since they ran on PR)
  .github/workflows/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

try to update npm test tasks
  .github/workflows/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

trying to get a working version of the github tests
  .github/workflows/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

trying to fix syntax
  .github/workflows/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

another attempt on syntax
  .github/workflows/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

in fact only cli has tests
  .github/workflows/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

use newer version of terraform
  pipelines/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

Add github actions to run tests (#451)
  .devcontainer/devcontainer.json
  .github/workflows/test.yml
  pipelines/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

update all libraries that we can (note: tests are completely broken)
  tasks/terraform-cli/cucumber.js
  tasks/terraform-cli/package-lock.json
  tasks/terraform-cli/package.json
  tasks/terraform-cli/src/context/azdo-task-context.ts
  tasks/terraform-cli/src/logger/ai-logger.ts
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

this is the last version with getFederatedToken
  tasks/terraform-cli/package-lock.json
  tasks/terraform-cli/package.json
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

the vsoWarningFormat changed in the new version which broke the tests
  tasks/terraform-cli/src/tests/steps/task.steps.ts
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

try to turn off key based auth on storage account
  templates/main.tf
Due: pipelines/main.yml

I believe CHN is not letting me make a resource group right now, trying weu
  pipelines/templates/test/init_with_ensure_backend_no_storage_account.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

ensure backend fails if keys are not allowed (comments)
  pipelines/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

attempting to add deprecation warning for ensureBackend
  tasks/terraform-cli/src/backends/azurerm.ts
  tasks/terraform-cli/src/commands/tf-init.ts
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

putting back ensure backend just to check warning
  pipelines/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

try out gitversion on github
  .github/workflows/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

try with version 5 spec
  .github/workflows/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

try moving warning to another location
  tasks/terraform-cli/src/backends/azurerm.ts
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

warning worked, removing test again
  pipelines/test.yml
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

ensureBackend fully deprecated
  overview.md
  pipelines/templates/test/azurerm_mgmt_group_service_connection.yml
  pipelines/templates/test/init_with_ensure_backend_no_storage_account.yml
  pipelines/templates/test/init_with_version_11.yml
  pipelines/templates/test/local_exec_az_cli.yml
  pipelines/templates/test/plan_with_command_options_var_file.yml
  pipelines/templates/test/publish_plan_results.yml
  pipelines/templates/test/smoke_test.yml
  pipelines/templates/test/state_commands.yml
  pipelines/test.yml
  tasks/terraform-cli/README.md
Due: pipelines/main.yml, pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

turn on azuread_auth on local az test
  templates/local-exec-az-cli/main.tf
Due: pipelines/main.yml

add some needed tools to the devcontainer
  .devcontainer/devcontainer.json
Due: pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

clean up extensions a little
  .devcontainer/devcontainer.json
Due: pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

remove typescript nightly
  .devcontainer/devcontainer.json
Due: pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml

switch back to other cucumber as the official one doesn't seem to work
  .devcontainer/devcontainer.json
Due: pipelines/pipeline-beta.yml, pipelines/pipeline-rc.yml
